{% load static %}

<section id="footer">
    <footer class="">
        <div class="container">
            <div class="row">
                <div class="mt-5 mb-5">
                    <h5 class="h1 text-white hand1">Xpress Mails.</h5>
                    <p class="small text-muted" style="color: chocolate;">Made by : Akash | Yash | Tahir | Gomtesh | Tanmay</p>
                    <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="/">Xpressmail.com</a></p>
                </div>
            </div>
        </div>
    </footer>
    </div>
</section>